@{
    Layout = null;
}


<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Lucky Doggies</title>
        <link rel="stylesheet" href="/css/Style.css" />
    </head>

    <body>
        <header>
            <a>Accueil</a>
            <a>FAQ</a>
            <a>Journée standard</a>
            <a>Cadre</a>
            <a>Offres</a>
            <a>Galerie</a>
            <a>Équipe</a>
            <a>Contact</a>
        </header>
        <header>
            <a>Login</a>
        </header>
    </body>
</html>