@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name ="viewport" content="width=device-width" />
    <title>MeetingScheduler</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
    <div>
        <div>
            Nous allons organiser une séance intéressante<br />
            <p>et vous êtes invité !</p>
        </div>
        <a asp-action="RsvpForm">RSVP Now</a>
    </div>
</body>
</html>